.navbar-top {
    @include flex(row, flex-end, center)
}

ul {
    list-style-type: none;

    li {
        display: inline-block;
        a {
            @include flex(row, space-between, center);
            color: white;
            text-decoration: none;
            padding: 15px;

            i {
                margin-right: 10px;
                color: $color-button-icons;
            }

            p {
                font-size: 14px;
                color: $light-dark-text;

                &:hover {
                    color: white;
                }
            }
        }
    }

}

.fa-phone-alt + p {
    text-decoration: underline;
}
